<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments.html :: head('Payment Page')">
    <link href="../../static/css/payment.css">
</head>
<body>
<section th:include="fragments.html :: header"></section>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div id="Checkout" class="inline">
                <h1>Pay Invoice</h1>
                <div class="card-row">
                    <span class="visa"></span>
                    <span class="mastercard"></span>
                    <span class="amex"></span>
                    <span class="discover"></span>
                </div>
                <form th:action="@{/basket/payment}" method="post">
                    <div class="form-group">
                        <label for="cardCode">Card Code</label>
                        <input type="text" name="code" class="form-control" id="cardCode"
                               placeholder="Enter code">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password">
                    </div>

                    <div hidden class="form-group">
                        <label for="totalAmount">Password</label>
                        <input type="number" class="form-control" id="totalAmount" th:value="${totalPrice}" name="totalAmount"
                               placeholder="Password">
                    </div>

                    <button type="submit" class=" form-control btn btn-primary" th:text="${totalPrice+' UZS'}"></button>
                </form>
            </div>
        </div>
        <div class="col-4 ">

            <div class="card" style="width: 14rem;">
                <img class="card-img-top" src="/static/images/uzcard.png" alt="Card image cap">
            </div>
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" th:src="@{/static/images/humo.jpeg}" alt="Card image cap">
            </div>
            <div class="card" style="width: 14rem;">
                <img class="card-img-top" th:src="@{/static/images/visa.png}" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>

<a href="/" th:text="#{back}" class=" form-control btn btn-light focus"></a>


</body>
</html>